[submodule "themes/northendlab"]
	path = themes/northendlab
	url = https://github.com/themefisher/northendlab-hugo.git
[submodule "themes/academia"]
	path = themes/academia
	url = https://github.com/themefisher/Academia-hugo.git
